body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:805px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:71px;
  width:373px;
  height:805px;
  display:flex;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:28px;
  width:90px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:148px;
  width:72px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u461 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u461_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2053px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:1181px;
  height:2053px;
  display:flex;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:37px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:50px;
  width:351px;
  height:37px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:333px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:18px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:894px;
  width:760px;
  height:333px;
  display:flex;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:18px;
}
#u464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:824px;
  width:0px;
  height:0px;
  font-family:'PingFang-SC-Medium', 'PingFang SC Medium', 'PingFang SC ExtraLight', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:15px;
  color:#D9001B;
  text-align:left;
}
#u465_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:232px;
  height:6px;
  -webkit-transform:rotate(179.749801679802deg);
  -moz-transform:rotate(179.749801679802deg);
  -ms-transform:rotate(179.749801679802deg);
  transform:rotate(179.749801679802deg);
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:178px;
  width:30px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:674px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:186px;
  width:376px;
  height:674px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:351px;
  width:30px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:222px;
  width:36px;
  height:36px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:584px;
  width:139px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u471 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:584px;
  width:139px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u472 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:108px;
  width:55px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:142px;
  width:30px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:257px;
  width:30px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:382px;
  width:30px;
  height:30px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:22px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:140px;
  width:544px;
  height:95px;
  display:flex;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:22px;
}
#u476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:22px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:257px;
  width:544px;
  height:95px;
  display:flex;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:22px;
}
#u477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:22px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:382px;
  width:544px;
  height:95px;
  display:flex;
  font-size:14px;
  letter-spacing:0.6px;
  line-height:22px;
}
#u478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
