<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <!--    判断当前菜品是否被套餐关联了-->
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id
        from setmeal_dish where dish_id in
        <foreach collection="ids" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
