<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">
<!--    创建新用户-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user(openid, name, phone, sex, id_number, avatar, create_time)
        VALUES (#{openid},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{createTime})
    </insert>

<!--    根据openid获取当前用户-->
    <select id="getByOpenId" resultType="com.sky.entity.User">
        select *
        from user where openid=#{openid};
    </select>

<!--    根据id获取用户信息-->
    <select id="getById" resultType="com.sky.entity.User">
        select *
        from user
        where id = #{id};
    </select>

<!--    根据动态条件统计用户数量-->
    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="begin != null">
                and create_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and create_time &lt;= #{end}
            </if>
        </where>
    </select>
</mapper>
