/* Element Variables */

// Override Element UI variables

$--color-success: #13ce66;
$--color-danger: #ff4949;
$--color-info: #5d5d5d;
$--button-font-weight: 400;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border:1px solid #dfe6ec;
$--color-primary:#FFC200;
$--color-warning:#FFB302;
$--color-text-primary:#20232A;
$--color-text-regular:#818693;
$--color-text-placeholder:#BAC0CD;
$--border-color-base:#D8DDE3;
$--background-color-base:#F3F4F7;

// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
