body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:417px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:111px;
  width:164px;
  height:417px;
  display:flex;
  color:#F59A23;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:20px;
  width:96px;
  height:33px;
  display:flex;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:5px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:63px;
  width:36px;
  height:5px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:197px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:111px;
  width:681px;
  height:197px;
  display:flex;
  color:#F59A23;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:130px;
  width:66px;
  height:30px;
  display:flex;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:173px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:173px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:173px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:173px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:240px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:240px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:240px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:240px;
  width:143px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#F59A23;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:197px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:331px;
  width:681px;
  height:197px;
  display:flex;
  color:#F59A23;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:350px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:393px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:393px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:393px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:393px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:460px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:460px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:460px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:460px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:393px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:183px;
  width:113px;
  height:55px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:460px;
  width:113px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#009DD9;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:130px;
  width:132px;
  height:30px;
  display:flex;
  font-family:'PingFang-SC-Bold', '苹方 Bold', '苹方 ExtraLight', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u92 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:269px;
  width:113px;
  height:55px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:356px;
  width:113px;
  height:55px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:442px;
  width:113px;
  height:55px;
  display:flex;
  font-family:'PingFang-SC-Medium', '苹方 Medium', '苹方 ExtraLight', '苹方';
  font-weight:500;
  font-style:normal;
  color:#D9001B;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
